<%# if is_admin? == true %>
  <h2> Editar postagem </h2>

  <%= form_with model: @post do |postagens| %>
    <p>Título: <%= postagens.text_field :title %><p>
    <p>Conteúdo: <%= postagens.text_area :content %><p>
    <p> <%= postagens.submit "Salvar" %> </p>
  <% end %>
<% #end %>