<div class="card my-5">
  <div class="card-body">
    <h1>Editar postagem</h1>

    <%= render 'form', post: @post %>

    <div class="mt-2">
      <%= link_to 'Voltar', posts_path, class: 'btn btn-light' %>
    </div>
  </div>
</div>