  <h2> Adicionar postagem </h2>

  <%= form_with model: @post do |postagens| %>
    <p>Título: <%= postagens.text_field :title %><p>
    <p>Conteúdo: <%= postagens.text_area :content %><p>
    <%= postagens.submit "Adicionar postagem" %>
  <% end %>
